<div class="container mt-4">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="alert alert-success" role="alert">
        送信が完了しました
      </div>
      <div class="card">
        <div class="card-header">
          送信内容
        </div>
        <div class="card-body">
          <h5 class="card-title">Title: <%= @title %></h5>
          <hr>
          <p class="card-text"><%= simple_format(@body) %></p>
        </div>
      </div>
      <div class="mt-3">
        <%= link_to 'Back to Group', group_path(@group), class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>
